<body>
<h1>Requests</h1>

<div class='all_spaces_box'>
  <ul id='spaces'>
    <% @rekwests.each do |rekwest| %>
      <li>
        <div class='space_box'>
          <div>
            <img src="<%=rand(7)%>.jpg">
          </div>
          <div class='space_name'>
          <%= Space.get(rekwest.space_id).name %>
          </div>
          Requested from: <%= rekwest.start_date %>
          until <%= rekwest.end_date %>
          <form action='/request/delete' method='post'>
            <button class="cancel_request" type='submit' name='cancel_request' value="<%=rekwest.id%>">
            cancel request</button>
          </form>
        </li>
      <% end %>

</body>
