<body>
  <h1>My Spaces</h1>

  <% @spaces.each do |space| %>
    <li>
      <%= space.name %>
      <%= space.description %>
      <%= space.price %>
      <%= space.start_date %>
      <%= space.end_date %>
      <form action='/user_spaces/edit' method='get'>
        <button id='edit' type='submit' name='edit' value='<%=space.id%>'>
        Edit</button>
      </form>
      <%if space.requests %>
        <% space.requests.each do |request| %>
        <p>Your space has been requested by <%=User.get(request.user_id).username%> from <%=request.start_date%> to <%=request.end_date%></p>
        <form action='/booking/create' method='post'>
          <button type='submit' name='accept' value="<%=request.id%>">accept</button>
        </form><form action='/user_spaces/delete' method='post'>
          <button type='submit' name='reject' value="<%=request.id%>">reject</button>
        </form>
        <%end%>
      <%end%>
    </li>
  <% end %>
  <form action='/new/space' method='get'>
    <button id='add_spaces' type='submit' name='add_space'>
    Add a space</button>
  </form>
  <form action='/spaces' method='get'>
    <button id='all_spaces' type='submit' name='all_spaces'>
    All spaces</button>
  </form>
</body>
