<body>
  <h1>Spaces</h1>

  <h2><%if flash[:error]%><%= flash[:error][0]%><%end%></h2>

  <form class="filter_spaces" action="/spaces/filtered" method="post">
    <input id='date-selector' type='date' name='start_date' required></input>
    <input id='date-selector' type='date' name='end_date' required></input>
    <input type="submit" value="Search">
  </form>

  <div class='all_spaces_box'>
    <ul id='spaces'>
      <% @spaces.each do |space| %>
        <li>
          <div class='space_box'>
            <div>
              <img src="<%=rand(3)%>.jpg">
            </div>
            <div class='space_name'><%= space.name %>
            </div>
            <%= space.description %>
            <br>
            Price: £<%= space.price %>
            <br>
            Available from: <%= space.start_date %>
             until <%= space.end_date %>
            <form action='/request/make' method='post'>
              <button class='space_button' type='submit' name='request' value='<%=space.id%>'>
              Request Space</button>
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  </div>


</body>
