<body>
<h1>Bookings You've Made</h1>

<div class='all_spaces_box'>
  <ul id='spaces'>
  <% @bookings.each do |booking| %>
    <li>
      <div class='space_box'>
        <div>
          <img src="<%=rand(7)%>.jpg">
        </div>
        <div class='space_name'>
          <%= Space.get(booking.space_id).name %>
        </div>
      Owner: <%= User.get(Space.get(booking.space_id).user_id).username %>
      <br>
      Price: £<%= Space.get(booking.space_id).price %>
      <br>
      Booked from: <%=booking.start_date%>
      until <%=booking.end_date%>
      <form class="payment" action="/payment" method="get">
        <button class="payment" type="submit" name="payment" value='<%=booking.id%>'>Pay</button>
      </form>
    </li>
  <%end%>
</ul>
</div>

</body>
